#chat-screen{
    background-color: #ABC1D1;
    height:11000vh;
}

#chat-screen .alt-screen-header,
#chat-screen .status-bar{
    position: fixed;
    width:100%;
    background-color: #ABC1D1;
    box-sizing: border-box;
}
#chat-screen .alt-screen-header{
    top:20px;
}

.chat__time-stamp{
    background-color: var(--gray);
    width:180px;
    height:25px;
    text-align: center;
    border-radius: 20px;
    color:white;
    font-size: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-chat{
    padding-top: 80px;
    padding-left: 100px;

}
