#friends-display-link{
    background-color: #FAFAFA;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:15px 0px;
    font-weight: 600;
    margin-bottom:10px;
    margin-top: -10px;
}

#friends-display-link i{
    color:#D5D5D5
}

#friends-display-link i:first-child{
    margin-right: 5px;
}

#friends-display-link i:last-child{
    margin-left: 5px;
}

.friends-screen{
    padding: 0px var(--horizontal-space); /* 여기서 한번에 패딩값을 주기 때문에 다른 것들 패딩 값을 안 넣는거*/
}

.friends-screen__channel{
    margin-top: 25px;
    border-top: 1px solid rgba(0,0,0,0.2);
    padding-top: 20px;
}
.friends-screen__channel-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    color:rgba(0,0,0,0.5)
}

.splash-screen{
    background-color: var(--yellow);
    position:absolute;  
    /* position:absolute를 통해서 부모 relative를 지정하지 않고 사용해서 모든 요소 위에 위치하게 함
     */
    height:100vh;
    width:100vw;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    color:black;
    animation: hideSplashScreen 1s ease-in-out forwards;
    animation-delay: 1s;
}

@keyframes hideSplashScreen{
    from{
        opacity:1;
    }to{
        opacity:0;
        visibility:hidden;
        /* 아예 splash screen이 사라지는게 아님
        visibility: hidden;으로 하면 화면은 남아있지만 화면이 마우스 클릭의 영향을 안 받음
         */
    }

}