.alt-screen-header{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.alt-screen-header__title{
    font-weight: 600;
    font-size: 20px;
}

.alt-screen-header__column{
    width:33%;
}
.alt-screen-header__column:first-child{
    margin-left: 15px;
    display:flex;
    justify-content: flex-start;
}
.alt-screen-header__column:nth-child(2){
    text-align: center;
}
.alt-screen-header__column:last-child{
    margin-right:15px;
    display:flex;
    justify-content: flex-end;
}
.alt-screen-header__column span:last-child{
    margin-left: 15px;
}