.icons-row{
    display:flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-bottom: 15px;
}

.icons-row__icon{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:25%;  
    padding:10px;
    box-sizing: border-box; 
    /* 전체 박스에 flex-wrap을 해서 각각의 아이콘박스가 자리가 좁으면 다음 칸으로 내려가게 만들고
    틀 박스를 border사이즈로 설정해주고 width값을 줘서 각각의 아이콘 박스가 얼마만큼의 자리를 차지하도록
    설정하여 해당 박스 사이즈를 넘어가면 다음 칸으로 내려가게 됨 */
    position:relative; 
    /* 이건 notice__dot을 넣기위해 넣은것 */
}

.icons-row__icon i{
    font-size: 30px;
    margin-bottom: 15px;
}