.nav-bar{
    position:fixed;
    bottom:0;
    width:100%;
    box-sizing: border-box;
    background-color: #F9F9FA;
    padding:20px 50px;
    border-top: 2px solid rgba(171, 168, 168, 0.3);
}
.nav-bar__list{
    display:flex;
    justify-content: space-between;
}

.nav-bar__link{
    color:#2F363E;
    position: relative;
}

.nav-bar__notification{
    position: absolute;
    left: 18px;
    bottom:16px;
}

.nav-bar__dot{
    background-color: tomato;
    width:4px;
    height:4px;
    border-radius:2px;
    position:absolute;
    left:30px;
}